/* Reset default browser styles */
body, h1, h2, h3, p, ul, li, form, button {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.mainNav {
    display: flex;
    height: 60px;
    border-bottom: 1px rgba(129, 129, 129, 0.716) solid;
    width: 100%;
}

.leftNav {
    display: flex;
    align-items: center;
    height: 60px;
    width: fit-content;
    margin-left: calc((100% - 1150px) / 2);
}

.rightNav {
    display: flex;
    align-items: center;
    height: 60px;
    width: fit-content;
    margin-right: calc((100% - 1150px) / 2);
}

.rightNav p {
    vertical-align: middle;
    margin-left: 30px;
    font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
}

.rightNav svg {
    margin-left: 25px;
    height: 60px;
    margin-top: 7px;
}

.leftNav p {
    margin-left: 30px;
    font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
}

.icon {
    max-width: 70%;
    max-height: 70%;
    margin-right: -10px;
}

.iconText {
    width: fit-content;
    height: 45px;
    font-size: 28px;
    white-space: nowrap;
    color: #384046;
    font-weight: 600;
    font-family: "Raleway", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    text-decoration: none;
}

.splitterNav {
    width: 50%;
}

.navOption {
    color: #384046; /* Default color when not hovered over */
    transition: color 0.3s ease; /* Smooth transition over 0.3 seconds */
    cursor: pointer;
    user-select: none;
    text-decoration: none;
}

.navOption:hover {
    color: #3498db; /* Color when hovered over */
    text-decoration: none;
}
